<h1>WORKING</h1>

<form action="mydj" method="post">
  Song Name: <input type="text" name="name"><br>
  Youtube Link: <input type="text" name="link"><br>
  <input type="submit" value="Submit">
</form>

<div>
  <% @playlist.each do |song| %>
    <p><%= song.name %>
    <a href="<%= song.link %>" target="_blank" id="blah">CLICK</a> </p>
  <% end %>

<input type="button" id="hidden" href="#" value="AWESOME">

</div>

