<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>My DJ!!!!!</title>
</head>

<body>
  <% if flash.any? %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div>
    <%= yield %>
  </div>
</body>

</html>
