<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>My DJ!!!!!</title>
</head>

<body>
  <% if flash.any? %>
    <div>
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div>
    <%= yield %>
  </div>
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>
</body>

</html>
